<h2>The blog is a part of life of one young photographer.</h2>
                     <h2>And we are glad that you are with us)</h2>

<h3>
    <p>
      See me,
          <a href="https://vk.com/christina_shchodra"> Christina Shchodra,</a>
      on VK.
    </p>
</h3>

      <%= link_to "Back", :back %>


